<!-- user_data/detail_lesson -->

{% extends 'user_data/base_user_data.html' %}

{% block title %}{{ lesson.name }}{% endblock %}

{% block content %}
{% if lesson %}
  <h1>{{ lesson.name }}</h1>
  <p>This lesson exists. It can{% if not lesson.can_join %}\'t{% endif %} be join.</p>
  {% if lesson.can_join %}
    <p>To join this branch, go <a href={% url 'user_data:join_lesson' %}>there</a> and use {{ lesson.id }}-{{ lesson.name }} with the provided password.</p>
  {% endif %}
{% endif %}
{% endblock %}
