<!-- user_data/index -->

{% extends 'user_data/base_user_data.html' %}

{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
  {% if lesson_list %}
  <p>{% blocktranslate with total=lesson_list.count %}You are inroled in the following lesson{{ total|pluralize }} as a student:{% endblocktranslate %}</p>
  <ul>
    {% for lesson in lesson_list %}
    <li>
      <a href="{% url 'user_data:detail_lesson' lesson.id %}">{{ lesson.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>{% translate "No lesson are available." %}</p>
  {% endif %}
  {% if teaching_list %}
  <p>{% blocktranslate with total=teaching_list.count %}You manage the following lesson{{ total|pluralize }} as an instructor:{% endblocktranslate %}</p>
  <ul>
    {% for lesson in teaching_list %}
    <li>
      <a href="{% url 'user_data:detail_lesson' lesson.id %}">{{ lesson.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if user.is_student or user.is_instructor %}
    <a href="{% url 'user_data:join_lesson' %}">{% translate "Join a new lesson" %}</a>
  {% endif %}
    <br>
    <a href="{% url 'user_data:create_lesson' %}">{% translate "Create a new lesson" %}</a>
  {% if user.is_instructor %}
  {% endif %}
{% endif %}
{% endblock %}
