{% extends 'qcm/base_qcm.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>{% translate "Create a new question for" %} {{ questions_subset }}<h2>
  <form action="{% url 'qcm:create_question' questions_subset.id %}" method="post">
  {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" name="create" value="Create">
    <input type="submit" name="create_add" value="Create and add another">
  </form>
  <a href="{% url 'qcm:detail' questions_subset.parent_branch.id %}">{% translate "Return to branch." %}</a>
{% endblock %}
