<!-- qcm/detail_questions_set -->

{% extends 'qcm/base_qcm.html' %}

{% block title %}{{ questionssubset.questions_set_name }}{% endblock %}

{% block content %}
{% if questionssubset %}
  <h1>{{ questionssubset.questions_set_name }}</h1>
  {% if questionssubset.question_set.all %}
    <h2>List of Questions</h2>
    <ul>
      {% for question in questionssubset.question_set.all %}
        <li>
          <a href="{% url 'qcm:detail_question' questionssubset.parent_branch.id question.id %}">
          {{ question.id }} - {{ question.question_text }}</a>
        </li>
      {% endfor %}
    </ul>
    {% if questionssubset.training_set %}
      <h2>List of Training</h2>
      <ul>
        {% for training in questionssubset.training_set.all %}
          <li>
            <a href="{% url 'qcm:results_training' questionssubset.parent_branch.id training.id %}">
            {{ training }} - {{ training.results }}%</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <a href="{% url 'qcm:start_training' questionssubset.parent_branch.id questionssubset.id %}">
    Start a training</a>
    <br>
  {% else %}
    <p>No questions are available.</p>
  {% endif %}
  <a href="{% url 'qcm:create_question' questionssubset.id %}">Create a new quesion</a>
  <br>
  <a class="confirm_delete" href="{% url 'qcm:delete_questions_subset' questionssubset.id %}" method="post" onClick="return confirm('Are you sure?');">
  Delete</a>
  <br>
{% endif %}
<a href="{% url 'qcm:detail' questionssubset.parent_branch.id %}">Return to branch.</a>
{% endblock %}
