<!-- qcm/detail_branch -->

{% extends 'qcm/base_qcm.html' %}

{% load i18n %}

{% block title %}{{ branch.branch_name }}{% endblock %}

{% block content %}
{% if branch %}
  <h1>{{ branch.name }}</h1>
  {% if branch.questionssubset_set.all %}
    <h2>{% translate "List of Questions set" %}</h2>
    <ul>
      {% for questions_set in branch.questionssubset_set.all %}
        <li>
          <a href="{% url 'qcm:detail_questions_set' branch.id questions_set.id %}">
          {{ questions_set.id }} - {{ questions_set.questions_set_name }}</a>
        </li>
      {% endfor %}
    </ul>
    {% if branch.get_training_ordered_datetime %}
      <h2>{% translate "List of Training" %}</h2>
      <ul>
        {% for training in branch.get_training_ordered_datetime %}
          <li>
            <a href="{% url 'qcm:results_training' branch.id training.id %}">{{ training }} - {{ training.results }}%</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if branch.get_questions_shuffled %}
      <a href="{% url 'qcm:start_training_branch' branch.id %}">{% translate "Start a general training" %}</a>
    {% endif %}
  {% else %}
    <p>{% translate "No questions are available." %}</p>
  {% endif %}
  {% if user.is_staff or user.is_instructor %}
    <br>
    <a href="{% url 'qcm:create_questions_subset' branch.id %}">{% translate "Create a new quesions subset" %}</a>
    <br>
    <a class="confirm_delete" href="{% url 'qcm:delete_branch' branch.id %}" method="post" onClick="return confirm('Are you sure?');">{% translate "Delete" %}</a>
  {% endif %}
{% else %}
  <p>{% translate "No branch are available." %}</p>
{% endif %}
{% endblock %}
