<!-- qcm/detail_questions_set -->

{% extends 'qcm/base_qcm.html' %}

{% load i18n %}

{% block title %}{{ questionssubset.questions_set_name }}{% endblock %}

{% block content %}
{% if questionssubset %}
  <h1>{{ questionssubset }}</h1>
  {% if questionssubset.question_set.all %}
    <h2>{% translate "List of Questions" %}</h2>
    <ul>
      {% for question in questionssubset.question_set.all %}
        <li>
          <a href="{% url 'qcm:detail_question' questionssubset.parent_branch.id question.id %}">
          {{ question.question_text }}</a>
        </li>
      {% endfor %}
    </ul>
    {% if user_trainings %}
      <h2>{% translate "List of Training" %}</h2>
      <ul>
        {% for training in user_trainings %}
          <li>
            <a href="{% url 'qcm:results_training' questionssubset.parent_branch.id training.id %}">
            {{ training }} - {{ training.results }}%</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <a href="{% url 'qcm:start_training' questionssubset.parent_branch.id questionssubset.id %}">
      {% translate "Start a training" %}</a>
    <br>
  {% else %}
    <p>{% translate "No questions are available." %}</p>
  {% endif %}
  {% if user.is_staff or user.is_instructor %}
    <a href="{% url 'qcm:create_question' questionssubset.id %}">{% translate "Create a new quesion" %}</a>
    <br>
    <a class="confirm_delete" href="{% url 'qcm:delete_questions_subset' questionssubset.id %}" method="post" onClick="return confirm('Are you sure?');">
    {% translate "Delete" %}</a>
    <br>
  {% endif %}
{% endif %}
<a href="{% url 'qcm:detail' questionssubset.parent_branch.id %}">{% translate "Return to branch." %}</a>
{% endblock %}
